@model FlightManage.Models.User.UserIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Password
            <th>
                Email
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                PersonalNo
            </th>
            <th>
                Address
            </th>
            <th>
                Telephone
            </th>
            <th>
                Role
            </th>
         <th></th>
        </tr>
    </thead>
    <tbody>

     